html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0a0a0a;
  color: #fff;
  transition: background-color 0.3s ease;
}


header {
  background-color: #d32f2f;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  color: #fff;
  letter-spacing: 2px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffebee;
}


main {
  flex: 1;
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

.intro {
  text-align: center;
  margin-bottom: 30px;
}

.intro h2 {
  font-size: 2em;
  color: #e53935;
}

button {
  background-color: #d32f2f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 auto;
  display: flex
  
  
  ;
}

button:hover {
  background-color: #e53935;
  transform: scale(1.1);
  color: #ffd700;
  transition: transform 0.2s ease, color 0.2s ease;

}

#resultados {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    gap: 15px;
}